td,th{
    border: 5px ridge rosybrown;
    font-weight: bold;
    font-size: larger;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
}
.oddColor{
color: rgb(237, 238, 170);
}
.evenColor{
   color: rgb(73, 104, 206);
}
.numberColor{
color: rgb(73, 104, 206);
}

.x{
   font-weight: bolder; 
}

.y{
    font-weight: lighter; 
 }