small {
    background-color: rgb(251, 216, 163);
    font-size: x-large;
    font-weight: bolder;
    font-family: 'Times New Roman';
    border-radius: 5px;
    padding: 5px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

table,
th,
td {
    border-collapse: collapse;
    border: 4px ridge rgb(0, 126, 236);
    padding-left: 15px;
    padding-right: 15px;
}

form {
    font-weight: bolder;
    font-family: 'Times New Roman';
    border-radius: 5px;
    padding: 10px;
}
input{
    width: 150%;
}
/* .btn-center{
    display: block;
    text-align: center;
} */